<div class="card-header">
  <h3 class="card-title">
    <%= name %>
  </h3>

  <div class="card-tools">
    <a class="btn btn-success btn-sm" href="<%= href %>">
      <i class="fa-solid fa-file-circle-plus"></i>
      Tambah
    </a>
  </div>
</div>